{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ recipe_object.title }} - Scrumptious Recipes
{% endblock title %}

{% block content %}
        <header>
            <nav class="navigation">
                <a class="link-nav-main" href="{% url 'recipe_list' %}">Main Page</a>
                <a class="link-nav-about" href="about.html">About</a>
                <a class="link-nav-suggest" href="{% url 'create_recipe' %}">Create A Recipe</a>

            </nav>
        </header>
        <main>
            <h1 class="head-of-page">Scrumptious Recipes</h1>
            <h2 class="head-blurb">Submit your Recipe!</h2>
            <div>
                <img class="submit-image" src="https://cdn.firstcry.com/education/2022/05/23110320/1389000860.jpg" alt="food">
                <div class="submit-blurb">
                Scrumptious Recipes is looking for new recipes and wants to feature YOURS
                on our website! Got a recipe that has been passed down
                in the family? A new recipe you came up with? Feel free to submit
                one of your own and you might be featured on our page!
                </div>
            </div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Create</button>
            </form>
        </main>
    {% endblock content %}
