{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ recipe_object.title }} - Scrumptious Recipes
{% endblock title %}


{% block content %}
        <header>
            <nav class="navigation">
                <a class="link-nav-main" href="{% url 'recipe_list' %}">Main Page</a>
                <a class="link-nav-about" href="about.html">About</a>
                <a class="link-nav-suggest" href="{% url 'create_recipe' %}">Create A Recipe</a>

            </nav>
        </header>
        <main>
            <h1 class="food-name">{{ recipe_object.title }}</h1>
            <img src="{{ recipe_object.picture }}" alt="Pictures of tacos" height="200">
            <div class="stars">4.3 stars</div>
            <p>{{ recipe_object.description }}</p>
            <a class="recipe-button" href="{% url 'edit_recipe' recipe_object.id %}">Edit Recipe</a>
            <h2>Ingredients</h2>
            <table>
                <thead>
                    <tr>
                        <th>Amount</th>
                        <th>Food Item</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ingredient in recipe_object.ingredients.all %}
                    <tr>
                        <td>{{ ingredient.amount }}</td>
                        <td>{{ ingredient.food_item }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h2>Steps</h2>
            <ol>
               {% for step in recipe_object.steps.all %}
               <li>{{ step.instruction }}</li>
               {% endfor %}
            </ol>
        </main>
    {% endblock content %}
