{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ recipe_object.title }} - Scrumptious Recipes
{% endblock title %}

{% block content %}
        <header>
            <nav class="navigation">
                <a class="link-nav-main" href="{% url 'recipe_list' %}">Main Page</a>
                <a class="link-nav-about" href="about.html">About</a>
                <a class="link-nav-suggest" href="{% url 'create_recipe' %}">Create A Recipe</a>


            </nav>
        </header>
        <main>
            <h1>Edit {{ recipe_object.title }}</h1>
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button>Save</button>
            </form>

        </main>
    {% endblock content %}
