{% extends 'base.html' %}
{% load static %}


{% block title %}
Scrumptious Recipes
{% endblock title %}


{% block content %}
        <header>
            <nav class="navigation">
                <a class="link-nav-main" href="{% url 'recipe_list' %}">Main Page</a>
                <a class="link-nav-about" href="about.html">About</a>

                {% if user.is_authenticated %}
                    <a class="link-nav-suggest" href="{% url 'create_recipe' %}">Create A Recipe</a>
                    <a href="{% url 'my_recipe_list' %}"> My Recipes</a>
                    Hello, {{ user.username }}
                    <a href="{% url 'logout' %}">Logout</a>

                {% else %}
                    <a href="{% url 'signup' %}">Sign Up</a>
                    <a href="{% url 'login' %}">Login</a>
                {% endif %}
            </nav>
        </header>
        <main>
            <h1 class="head-of-page">Scrumptious Recipes</h1>
            <h2 class="head-blurb">All the food that's fit to eat</h2>
            <div class="food-list">
                {% for recipe in recipe_list %}
                <div>
                    <h3>
                        <a class="food-list-link" href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
                    </h3>
                    <p class="created_on">{{ recipe.created_on|date:"F d Y"}}</p>
                    <div>
                        <img src="{{ recipe.picture }}" alt="Pictures of food">
                    </div>
                    <div class="stars">4.3 stars</div>
                </div>
                {% endfor %}
            </div>

        </main>
    {% endblock content %}
